{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "UseDevelopmentStorage=true",
        "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
        "BrokerList": "{namespace-name}.servicebus.windows.net:9093",
        "EventHubConnectionString": "",
        "Topic": "{topic-name}"        
    }
}